.App {
    --header_height: 60px;
}

.hw {
    padding-left: 70px;
    padding-right: 106px;
    padding-top: 100px;
}

.hwTitle {
    font-family: Montserrat, sans-serif;
    font-size: 22px;
    font-weight: 600;
    padding-left: 70px;
}